*{
    margin: 0;
    padding: 0;
}
.outer{
    width: 50%;
    height: 100vh;
    background-color: rgb(67, 150, 228);
    /* background-size: cover; */
    /* background-image: linear-gradient(27deg,#1e90ff,#1abc9c); */
    float: left;

}
.box{
    /* background-image: linear-gradient(27deg,#1abc9c,#1e90ff,#1abc9c); */
    background-color: whitesmoke;
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50%;
}
.WeatherApp{
    position: absolute;
    top: 45%;
    left: 15%;

}
.Weather{
    font-size: 36px;
    font-family: sans-serif;
    color: aliceblue;
}
.App{
    font-size: 36px;
    font-family: sans-serif;
    
}
.p_one{
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 24px;
}
.p_two{
 position: absolute;
 top: 27%;
 left: 20%;
}
.p_three{
    position: absolute;
    top: 27%;
    left: 29%;
}
.p_four{
    position: absolute;
    top: 27%;
    left: 33%;
}
.p_five{
    position: absolute;
    top: 27%;
    left: 40%;
}
.p_six{
    position: absolute;
    top: 31%;
    left: 20%;
}
.p_seven{
    position: absolute;
    top: 40%;
    left: 20%;
    font-size:35px;
}
.p_eigth{
    position: absolute;
    top: 40.5%;
    left: 30%;  
}
.p_nine{
    position: absolute;
    top: 40.5%;
    left: 36%;  
}
.p_ten{
    position: absolute;
    top: 40.15%;
    left: 34%; 
}
h{
    position: absolute;
    top: 61%;
    left: 20%
}
/* input{
    position: absolute;
    width: 45%;
    height: 5%;
    top: 65%;
    left: 20%;
} */
.search_item{
    position: absolute;
    top: 65%;
    left: 20%;

}
.drop{
    width: 200%;
    height:  30px;
}
.p_eleven{
    position: absolute;
    top: 27%;
    left: 45%;
}
.p_twelve{
    position: absolute;
    top: 27%;
    left: 36%;
}
.sun{
  height: 10px;
  width: 10px;
}
